<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css')}}">
    <title>Profile page</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="home_link">
                <a href="/homepage">My Blog Website</a>
            </div>
        </nav>

        <main>
           <p>Post status : {{user_status}}</p>

           {% for user in users %}
            <article class="post">
                
                <p>{{user}}</p>
            </article>
            {% endfor %}
        </main>
        
    </div>



</body>
</html>